body {
  font-family: 'Segoe UI', sans-serif;
  background: #fff;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h1 span {
  font-size: 16px;
  color: #666;
}

.malla {
  display: flex;
  gap: 18px;
  overflow-x: auto;
}

.semestre {
  min-width: 190px;
  background: #f3f3f3;
  padding: 12px;
  border-radius: 14px;
}

.semestre h2 {
  text-align: center;
}

.ramo {
  background: #f7b7cb;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.ramo.aprobado {
  background: #9b6bd3;
  color: white;
  text-decoration: line-through;
}

.ramo.bloqueado {
  background: #cfcfcf;
  cursor: not-allowed;
  opacity: 0.6;
}
